body {
	font-family: Lato, sans-serif;
	padding: 0;
	margin: 0;
    color: #f2f2f2;
    width: 1030px;
    margin: auto;
}

header {
    background-color: #2d303a;
    height: 89px;
}

.shadow {
    background-color: #323746;
    height: 6px;
}

.logo h1 {
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 28px;
    font-weight: bold;
}

.logo {
    display: flex; 
    margin-left: 0px;
}

.color_light_red, .hover_light_red, a:hover {
    color: #f06c64;
}

.wrapper {
    display: flex;
    margin: 0 40px 0 40px;
}

.wrapper_header {
    justify-content: space-between;
}

.wrapper_services {
    flex-direction: column;
    align-items: flex-start;
}

nav {  
    margin-right: 0px;
    width: 372px;
}

nav ul {
    margin-top: 45px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    list-style: none;
}

ul li::before {
    content: "\2022";  
    color:#323746;
    font-weight: bold; 
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

  .promo {
    background-color: #f06c64;
    height: 594px;
  }

  .color_shadow_promo {
      background-color: #ea676b;
  }

  .phone_vertical img {
    margin-top: 53px;
  }

  .services {
    background-color: #f2f2f2;
    height: 494px;
  }

  .color_shadow_services {
    background-color: #fff;
}

.description {
    height: 220px;
}

.options {
    height: 274px;
    width: 100%;
}

.description h1 {
    font-size: 30px;
    margin-top: 28px;
    font-family: Lato Black;
    color: #666d89;
}

.description p {
    font-size: 18px;
    margin-top: 28px;
    font-family: Lato Light;
    color: #767e9e;
    line-height: 30px;
}

.options ul {
    width: 100%;
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: space-between;
}

.options li {
    display: inline; 
    margin-right: 5px; 
    padding: 3px;
}




