body {
	font-family: Lato, sans-serif;
	padding: 0;
	margin: auto;
    color: #f2f2f2;
    width: 1020px;
}

.header, main {
    overflow: hidden;
}

.header {
    background-color: #2d303a;
    height: 89px;
}

.shadow {
    background-color: #323746;
    height: 6px;
}

.logo h1 {
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 29px;
    font-weight: bold;
    letter-spacing: -1px;
}

.logo {
    display: flex; 
    margin-left: 0px;
}

.color_light_red, .hover_light_red, a:hover {
    color: #f06c64;
}

.wrapper {
    display: flex;
    margin: 0 40px 0 40px;
}

.wrapper_header {
    justify-content: space-between;
}

.wrapper_promo {
    height: 100%;
}

.wrapper_services {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

nav {  
    margin-right: 0px;
    width: 376px;
}

nav ul {
    margin-top: 43px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    padding-top: 0px;
    list-style: none;
}

nav ul li:not(:nth-child(1))::before {
    content: "\00b7";  
    color:#494e62; 
    display: inline-block; 
    width: 17px; 
    margin-left: -1em; 
    padding-top: 0px;
  }

  .promo {
    background-color: #f06c64;
    height: 594px;
  }

  .color_shadow_promo {
      background-color: #ea676b;
  }

  .phone_vertical, .phone_horizontal {
    display: flex;
  }

  .phone_vertical {
      margin-left: 72px;
  }

  .phone_horizontal {
    margin-left: 194px;
    margin-top: 52px;
}

  #phone_vertical {
    margin-top: 53px;
    width: 215px;
    height: 458px;
    position: absolute;
    z-index: 2;
  }

  #phone_horizontal {
    transform: rotate(90deg);
    width: 215px;
    height: 458px;
    position: absolute;
    z-index: 2;
  }

  .vertical_img {
    background-image: url("assets/phone_vertical/phone_image_vertical.png");
    background-repeat: no-repeat;
    width: 188px;
    height: 333px;
    position: absolute;
    z-index: 3;
    margin-left: 13px;
    margin-top: 118px;
  }

  .horizontal_img {
    background-image: url("assets/phone_horizontal/phone_image_horizontal.png");
    background-repeat: no-repeat;
    width: 333px;
    height: 188px;
    position: absolute;
    z-index: 3;
    margin-left: -62px;
    margin-top: 136px;
  }

  .services {
    background-color: #f2f2f2;
    height: 494px;
  }

  .color_shadow_services {
    background-color: #fff;
}

#shadow_vertical {
    margin-top: 53px;
}

#shadow_horizontal {
    margin-left: -120px;
    margin-top: 123px;
}

.description {
    height: 220px;
}

.description h1 {
    font-size: 30px;
    font-family: Lato Black;
    color: #666d89;
    margin-top: 60px;
    margin-bottom: 0px;
}

.description p {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 18px;
    font-family: Lato;
    color: #767e9e;
    line-height: 30px;
    letter-spacing: 0.15px;
}

.options {
    height: 274px;
    width: 100%;
}

.options ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-block-start: 0px;
    padding-inline-start: 0px;
}

.options li {
    display: flex; 
    padding-left: 0px;
    width: 31%;
    padding-top: 0px;
}

.options li h3 {
    color: #666d89;
    margin-top: -1px;
    margin-bottom: 10px;
    font-size: 18px;
}

.options li p {
    color: #767e9e;
    margin-top: 0px;
    font-size: 12px;
    line-height: 180%;
    word-wrap: break-word;
    font-weight: normal;
}

.options li div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.options li img {
    vertical-align: top;
    height: 60px;
    width: 60px;
}

.li_margin_between_second {
    margin-left: 27px;
}

.li_margin_between_third {
    margin-left: 30px;
}

#second_row {
    margin-top: 10px;
}

.second_row {
    margin-top: 15px;
}
    
   

