body {
	font-family: Lato, sans-serif;
	padding: 0;
	margin: auto;
    color: #f2f2f2;
    width: 1020px;
}

.portfolio {
    background-color: #2d303a;
    height: 864px;
}

.shadow {
    background-color: #323746;
    height: 6px;
}

.about {
    background-color: #f2f2f2;
    height: 728px;
}

.wrapper {
    display: flex;
    margin: 0 40px 0 40px;
}

.color_shadow_about {
    background-color: #fff;
}